/* CSS RESET */
/* https://alligator.io/css/minimal-css-reset/ */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* ol, ul {
    list-style: none;
  } */

img {
  max-width: 100%;
  height: auto;
}

/* END OF CSS RESET */

/* GLOBAL STYLES *********************************************************************** */

body {
  width: 100vw;
}

.logo {
  /* height: 5rem; */
  width: 13rem;
}

/* HEADER STYLES ********************************************************************* */

.header {
  width: 100%;
  min-height: 35vh;
  /* height: 35vh; */
  background-color: darkred;
}

.nav-container {
  width: 100%;
  height: max-content;
  background-color: white;
  padding: 1rem 0;
}

.header__nav {
  height: 35%;
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.header__nav ul {
  list-style: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.header__nav li {
  display: inline-block;
}

.nav__user ul,
.nav__links ul {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__user {
  flex-basis: 25%;
  border-right: 2px solid lightgray;
}

.nav__user ion-icon,
.nav__links ion-icon {
  font-size: 3rem;
}

.nav__user li:nth-child(2) {
  margin-left: 2rem;
}

.nav__user li:last-of-type {
  margin: 0 1rem 0 auto;
}

.nav__links {
  flex-basis: 60%;
}

.nav__links ul {
  justify-content: space-evenly;
}

.nav__search,
.nav__search button,
.nav__search button span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__search {
  flex: 0 0 15%;
}

.nav__search button {
  width: 100%;
  display: flex;
  font-weight: bold;
  background-color: lightgray;
  border: none;
  height: 80%;
  justify-content: flex-start;
  transition: all 0.5s;
}

.nav__search button:hover {
  background-color: gray;
}

.heading__primary {
  margin-top: 1rem;
  width: 70%;
  margin: 1rem auto 0 auto;
}

.heading__primary h1 {
  font-size: 4.5rem;
  color: white;
  font-weight: bold;
}

.news-nav-container {
  /* padding: 2rem 0; */
}

.news__nav {
  width: 70%;
  margin: 0 auto;
}

.news__nav ul {
  list-style: none;
  font-size: 1.6rem;
  color: white;
  text-transform: capitalize;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  font-weight: bold;
}

.news__nav li {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.news__nav span:first-child {
  padding-left: 0;
  color: hotpink;
}

.news__nav li span {
  border-right: 1px solid white;
  padding: 0 1rem;
}

/* HOME STYLES */

/* FOOTER STYLES */
